# This file indicates which working files should be ignored from the repository.

# Ignore compiled Java class and other binary files
/bin

# Ignore the distribution folder created for local distribution and setup.exe files
/dist

# Ignore vi editor swap files
*.swp
*.swo

# Ignore Microsoft Office temporary files
~$*
