# Configuration information for "HydroBaseWeb" web service datastore.
# Properties are:
#
# ApiKey - web service API Key used to authorize higher usage limits
# Description - data store description for reports and user interfaces (short phrase)
# Enabled - indicates if the datstore is enabled (active)
# Name - data store identifier used in applications, for example as the
#     datastore used in StateDMI commands
# ServiceApiDocumentationUri - URI for online API documentation
# ServiceRootURI - web service root URI, including the server name and root path
# Type - must be ColoradoHydroBaseRestDataStore to find proper software

Enabled = True
Type = "ColoradoHydroBaseRestDataStore"
Name = "HydroBaseWeb"
Description = "Colorado HydroBase REST web service"
ServiceRootURI = "https://dwr.state.co.us/Rest/GET/api/v2"
ApiKey = ""
ServiceApiDocumentationUri = "https://dwr.state.co.us/Rest/GET/Help"
